version: '3.8'

services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    depends_on:
      - wordpress
    networks:
      - inception
    ports:
      - "443:443"
    volumes:
      - wordpress:/var/www/html
    restart : always
  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    depends_on:
      - mariadb
    networks:
      - inception
    ports:
      - "9000"
    volumes:
      - wordpress:/var/www/html
    env_file:
      - .env
    restart : always
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    networks:
      - inception
    ports:
      - "3306:3306"
    volumes:
      - mariadb:/var/lib/mysql
    env_file:
      - .env
    restart : always

volumes:
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/dinunes-/wordpress
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/dinunes-/mariadb

networks:
  inception:
    name: inception
    driver: bridge